@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 223, 100%, 50%;
    --primary-foreground: 0, 0%, 99%;
    --primary-hover: 223, 100%, 60%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 0, 0%, 99%;
    --accent-foreground: 0, 0%, 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 223.3 100 50;
    --input: 0, 0%, 13%;
    --ring: 0 0 0;
    --radius: 0.4rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --swiper-pagination-top: 95%;
    --swiper-pagination-color: #212121;
    --swiper-pagination-bullet-width: 40px;
    --swiper-pagination-bullet-height: 6px;
    --swiper-pagination-bullet-border-radius: 3px;
    --swiper-navigation-color: #121212;
  }

  body {
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    color: #212121;
  }

  img {
    display: block;
    width: 100%;
  }

  label {
    display: inline-block;
  }

  /* #region common */

  .page {
    container-type: inline-size;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    max-width: 1440px;
    min-height: 100%;
    margin: 0 auto;
  }

  .wrap {
    @apply px-10 box-border;
  }

  .content {
    @apply py-14 box-border;
  }

  .baner {
    position: relative;
    width: 100cqi;
  }

  .card-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18cqi, 1fr));
    gap: 24px;
    margin-top: 48px;
  }

  .swiper-pd {
    padding-left: 40px !important;
  }

  .product-layout {
    display: grid;
    grid-template-columns: 7fr 5fr;
    column-gap: 32px;
  }

  .input-color:checked + label {
    opacity: 0.2;
  }

  .input-size:checked + label {
    background-color: #ededed;
  }

  .accordion {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease;
  }
  .accordion-hidden {
    overflow: hidden;
  }
  .accordion-open {
    grid-template-rows: 1fr;
  }

  /* #endregion */

  /* #region header */

  .text-header {
    @apply font-mont text-base font-semibold uppercase;
  }

  .header-link {
    @apply flex items-center gap-x-2 box-border py-2 border-b border-white
    hover:text-gray-600 hover:border-gray-400
    transition-all duration-300 ease-linear cursor-pointer;
  }

  .header-icon,
  .header-icon path,
  .header-icon-cart path {
    transition: all 0.3s linear;
  }

  .header-link:hover .header-icon path {
    stroke: #4b5563;
  }

  .header-link:hover .header-icon-cart path {
    fill: #4b5563;
  }
  .header-link:hover .header-icon-shopping-cart {
    fill: #4b5563;
  }

  /* #endregion */

  /* #region card */

  .card-img {
    position: relative;
  }
  .card-img .card-img-hide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .card-img:hover .card-img-hide {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
  }

  .card-heart path {
    fill: #0047ff;
    stroke: #0047ff;
  }

  .card-cart {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 12px;
    border: 1px solid #4d4d4d;
    padding: 24px;
  }

  /* #endregion */
}
