@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* #region tags */

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 223, 100%, 50%;
    --primary-foreground: 0, 0%, 99%;
    --primary-hover: 223, 100%, 60%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 0, 0%, 99%;
    --accent-foreground: 0, 0%, 42%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 223.3 100 50;
    --input: 0, 0%, 13%;
    --ring: 0 0 0;
    --radius: 0.4rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --swiper-pagination-top: 95%;
    --swiper-pagination-color: #212121;
    --swiper-pagination-bullet-width: 40px;
    --swiper-pagination-bullet-height: 6px;
    --swiper-pagination-bullet-border-radius: 3px;
    --swiper-navigation-color: #121212;
  }

  body {
    height: 100vh;
    color: #212121;
  }

  main {
    flex: 1 1 auto;
  }

  h1,
  h2 {
    font-family: var(--font-mulish);
  }

  img {
    display: block;
    width: 100%;
  }

  label {
    display: inline-block;
  }

  /* #endregion */

  /* #region common */

  .no-scroll {
    overflow: hidden;
  }

  .page {
    container-type: inline-size;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    min-height: 100%;
    margin: 0 auto;
  }

  .wrap {
    @apply px-10 box-border lap:px-6 mob:px-4;
  }

  .content {
    @apply my-14 box-border lap:my-10 mob:my-6;
  }

  .burger {
    transform: translateX(-100vw);
    transition: all .3s linear;
  }

  .burger-open {
    transform: translateX(0);
  }

  .baner {
    position: relative;
    width: 100cqi;
  }

  .card-layout-home {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18cqi, 1fr));
    gap: 24px;
    margin-top: 48px;
  }

  .swiper-pd {
    padding-left: 40px !important;
  }

  .product-layout {
    display: grid;
    grid-template-columns: 7fr 5fr;
    column-gap: 32px;
  }

  .search-box {
    & input {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-transform: uppercase;
      color: #121212;

      &::placeholder {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase;
        color: #939393;
      }
    }
  }

  .input-color:checked+label {
    opacity: 0.2;
  }

  .input-size:checked+label {
    background-color: #121212;
    color: #fdfdfd;
  }

  .button-outline {
    & svg path {
      transition: all .3s linear;
    }

    &:hover svg path {
      stroke: #6a6a6a;
    }
  }

  .accordion {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease;
  }

  .accordion-hidden {
    overflow: hidden;
  }

  .accordion-open {
    grid-template-rows: 1fr;
  }

  .pagination {
    display: flex;
    column-gap: 4px;

    & li {
      border: 1px solid #121212;
      border-radius: 4px;

      & a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
        width: 40px;
        height: 40px;
        transition: all .3s linear;

        &:hover {
          background-color: #121212;
          color: #fdfdfd;
        }
      }
    }

    & .prev,
    & .next {
      border: 1px solid #ededed;
    }

    & .prev:hover,
    & .next:hover {
      border: 1px solid #212121;
      transition: all .3s linear;

      & a {
        background: transparent;
        color: #212121;
      }
    }

    & .disabled {
      color: #ededed;

      &:hover {
        border: 1px solid #ededed;

        & a {
          color: #ededed;
          cursor: default !important;
        }
      }
    }

    & .selected {
      & a {
        background-color: black !important;
        color: white;
      }
    }

  }

  /* #endregion */

  /* #region header */

  .text-header {
    @apply font-mont text-base font-semibold uppercase;
  }

  .header-link {
    @apply flex items-center gap-x-2 box-border border-b border-white hover:text-[#6a6a6a] hover:border-[#6a6a6a] transition-all duration-300 ease-linear cursor-pointer lg:border-none;
  }

  .header-icon,
  .header-icon path,
  .header-icon-cart path {
    transition: all 0.3s linear;
  }

  .header-link:hover .header-icon path {
    stroke: #6a6a6a;
  }

  .header-link:hover .header-icon-cart path {
    fill: #6a6a6a;
  }

  .header-link:hover .header-icon-shopping-cart {
    fill: #6a6a6a;
  }

  /* #endregion */

  /* #region card */

  .card-img {
    position: relative;
    height: 27.8cqi;
  }

  .card-img img {
    height: 100%;
    object-fit: cover;
  }

  .card-img .card-img-hide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .card-img:hover .card-img-top {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .card-img:hover .card-img-hide {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
  }

  .card-heart path {
    fill: #0047ff;
    stroke: #0047ff;
  }

  .card-cart {
    display: grid;
    grid-auto-flow: column;
    column-gap: 12px;
    border: 1px solid #4d4d4d;
  }

  /* #endregion */

  /* #region media 1023px */

  @media (max-width: 1023px) {

    .burger-mobile-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      & svg {
        grid-column: 2/3;
        justify-self: center;
      }

      & button {
        grid-column: 3/4;
        justify-self: end;
      }
    }

    .card-layout-home {
      display: flex;
      overflow-x: auto;
      padding-right: 40px;
      margin-top: 40px;
    }

    .card-img {
      width: 224px;
      height: 278px;
    }

    .card-img:hover .card-img-top {
      opacity: 1;
    }
  }

  /* #endregion */

  /* #region media 767px */

  @media (max-width: 767px) {

    .swiper-pd {
      padding-left: 16px !important;
    }

    .card-img {
      width: 162px;
      height: 202px;
    }

    .pagination {

      & .prev,
      & .next {
        display: none;
      }
    }
  }

  /* #endregion */
}